
body {
    font-family: 'VT323', monospace;
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
}

button {
    font-family: 'VT323', monospace;
    font-size: x-large;
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;

    color: white;
    padding: 1% 4%;
    text-align: center;
    display: inline-block;
    font-size: 90%;
}

div {
    position: fixed;
}

h1 {
    padding: 2%;
    font-family: 'Kelly Slab', cursive;
    font-weight: normal;
    font-size: 250%;
}

input {
    padding: 1% 2%;
    border-radius: 12px;
    font-family: 'VT323', monospace;    
}

p {
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
    padding-left: 2%;
}


#all {
    background-color: rgba(255, 51, 0, 0.534);
}

#all:hover {
    background-color: rgba(255, 51, 0, 0.4);
}

#done {
    background-color: rgba(255, 51, 0, 0.534);
}

#done:hover {
    background-color: rgba(255, 51, 0, 0.4);
}

#app {
    font-size: 150%;
    font-weight: 100;
    opacity: 0.65;
    position: fixed;
    color: #ffffff;
    width: 60%;
    height: 65%;
    overflow-y: scroll;
    overflow-x: scroll;
}

#task {
    margin: 2%;
    padding: 0.8%;
    width: 35%;
    font-size: 100%;
}

#send {
    box-sizing: 100%;
    width: 100%;
    top: 71%;
}

#erase {
    box-sizing: 100%;
    width: 100%;
    top: 84%;
    margin-left: 2%;
}   

div #erase {
    margin: 45%;
}

.check {
    margin-left: 50%;
}
.box {
    margin: 2% 1%;
}
.box:hover {
    background-color: #3e8e41;
}
